Exercise: Day 5

1

In [ ]:
# Declare an empty list

empty_list = list()

2

In [ ]:
# Declare a list with more than 5 items

names = ["juan", "chu", "gabriel", "ken", "mary", "henry"]

3

In [1]:
# Find the length of your list

names = ["juan", "chu", "gabriel", "ken", "mary", "henry"]
print(len(names))

6

4

In [5]:
# Get the first item, the middle item and the last item of the list

names = ["juan", "chu", "gabriel", "ken", "mary", "henry"]

# first name
first_name = names[0]
print(first_name)

# Middle name
# middle_name =

last_name = names[-1]
print(last_name)

juan
henry

5

In [ ]:
# Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_type = [1, 2, 3, 4, {"age": 23, "height": 6.3, "marital_status": "single", "address": "mecca"}]

6

In [ ]:
# Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

7

In [6]:
# Print the list using print()

games = ["basketball", "soccer", "badmiton", "baseball", "volleyball"]
print(games)

['basketball', 'soccer', 'badmiton', 'baseball', 'volleyball']

8

In [7]:
# Print the number of companies in the list
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9

In [9]:
# Print the first, middle and last company
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

# first_company
first_company = it_companies[0]
print(first_company)

# middle comapny
# middle_company =

# last comapany
last_company = it_companies[-1]
print(last_company)

Facebook
Amazon

10 & 11

In [10]:
# Print the first, middle and last company
# Print the list after modifying one of the companies
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies[2] = "Hugginface"

print(it_companies)

['Facebook', 'Google', 'Hugginface', 'Apple', 'IBM', 'Oracle', 'Amazon']

12

In [11]:
# Add an IT company to it_companies
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.append("Cisco")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Cisco']

13

In [15]:
# Insert an IT company in the middle of the companies list
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

len_of_it_company = len(it_companies) # 7
middle = len_of_it_company // 2 # 3(apple)
it_companies[3] = "Huawei"

print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Huawei', 'IBM', 'Oracle', 'Amazon']

14

In [16]:
# Change one of the it_companies names to uppercase (IBM excluded!)
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

it_companies[2].upper()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

15

In [17]:
# Join the it_companies with a string '#;'

it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.join("#,")

print(it_companies)

AttributeError: 'list' object has no attribute 'join'

16

In [18]:
# Check if a certain company exists in the it_companies list.
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

checking_1 = "Microsoft" in it_companies
checking_2 = "Oracle" in it_companies
checking_3 = "Google" in it_companies

print(checking_1)
print(checking_2)
print(checking_3)

True
True
True

17

In [19]:
# Sort the list using sort() method

it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

18

In [21]:
# Reverse the list in descending order using reverse() method

it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

it_companies.sort()
print(it_companies)

it_companies.sort(reverse=True)
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']
['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

19

In [22]:
# Slice out the first 3 companies from the list

it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

slicing = it_companies[0:3]
print(slicing)

['Facebook', 'Google', 'Microsoft']

20

In [23]:
# Slice out the last 3 companies from the list

it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

slicing_2 = it_companies[-3:]
print(slicing_2)

['IBM', 'Oracle', 'Amazon']

21

In [30]:
# Slice out the middle IT company or companies from the list
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

it_companies[3] = "Cisco"
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Cisco', 'IBM', 'Oracle', 'Amazon']

22

In [36]:
# Remove the first IT company from the list
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

it_companies.insert(3, "Cisco")
print(it_companies)

print("---------------------------------")

it_companies.remove("Cisco")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Cisco', 'Apple', 'IBM', 'Oracle', 'Amazon']
---------------------------------
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

23

In [ ]:
#